In [4]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as bs 
import pandas as pd
import numpy as np
import warnings
import regex as re
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJib3JqYWRvbGFAZ21haWwuY29tIiwianRpIjoiMDIwMWY0MWMtN2I4OC00MzQwLThjZTgtODEyMGMzOWE5YTA4IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2OTExMzc1NTQsInVzZXJJZCI6IjAyMDFmNDFjLTdiODgtNDM0MC04Y2U4LTgxMjBjMzlhOWEwOCIsInJvbGUiOiIifQ.nqAf3IyQGvEY7boKTPiPHrQ3q8wLGCWsrGmZRNJ3xKU"}

headers = {'cache-control': "no-cache"}

url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/inventarioestaciones/todasestaciones/?api_key=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJib3JqYWRvbGFAZ21haWwuY29tIiwianRpIjoiMDIwMWY0MWMtN2I4OC00MzQwLThjZTgtODEyMGMzOWE5YTA4IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2OTExMzc1NTQsInVzZXJJZCI6IjAyMDFmNDFjLTdiODgtNDM0MC04Y2U4LTgxMjBjMzlhOWEwOCIsInJvbGUiOiIifQ.nqAf3IyQGvEY7boKTPiPHrQ3q8wLGCWsrGmZRNJ3xKU"

response = req.get(url, headers=headers, params=querystring)

s_url = response.json()['datos']

response = req.get(s_url)
# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Guardar la respuesta en un archivo local
    with open('estaciones_aemet.json', 'wb') as f:
            f.write(response.content)
    print("Datos descargados y guardados correctamente.")
else:
    print("Error al descargar los datos.")

Datos descargados y guardados correctamente.

In [5]:
estaciones = pd.read_json('estaciones_aemet.json', encoding='latin1')

In [6]:
estaciones.head()

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
0,413515N,BARCELONA,74,0252D,ARENYS DE MAR,08186,023224E
1,411734N,BARCELONA,4,0076,BARCELONA AEROPUERTO,08181,020412E
2,412506N,BARCELONA,408,0200E,"BARCELONA, FABRA",,020727E
3,412326N,BARCELONA,6,0201D,BARCELONA,08180,021200E
4,414312N,BARCELONA,291,0149X,MANRESA,08174,015025E

In [7]:
estaciones.shape

(291, 7)

In [8]:
estaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitud     291 non-null    object
 1   provincia   291 non-null    object
 2   altitud     291 non-null    int64
 3   indicativo  291 non-null    object
 4   nombre      291 non-null    object
 5   indsinop    291 non-null    object
 6   longitud    291 non-null    object
dtypes: int64(1), object(6)
memory usage: 16.0+ KB

In [10]:
estaciones.provincia = estaciones.provincia.str.lower()

In [11]:
estaciones.groupby('provincia')['indicativo'].unique().to_dict()

{'a coruña': array(['1387E', '1387', '1393', '1351', '1400', '1437O', '1473A', '1428',
        '1475X'], dtype=object),
 'albacete': array(['7096B', '8175', '8178D', '8177A'], dtype=object),
 'alicante': array(['7247X', '8025', '8019', '8050X'], dtype=object),
 'almeria': array(['6302A', '6277B', '6381', '6325O', '6297', '6332X', '6367B',
        '6293X'], dtype=object),
 'araba/alava': array(['9091O', '9087', '9091R'], dtype=object),
 'asturias': array(['1212E', '1283U', '1210X', '1331A', '1207U', '1208A', '1208H',
        '1208', '1183X', '1249I', '1249X', '1221D', '1542'], dtype=object),
 'avila': array(['2444C', '2444', '2811A', '3391'], dtype=object),
 'badajoz': array(['4452', '4358X', '4244X', '4511C', '4386B', '4410X'], dtype=object),
 'barcelona': array(['0252D', '0076', '0200E', '0201D', '0149X', '0229I', '0255B'],
       dtype=object),
 'bizkaia': array(['1082', '1078I', '1055B', '1057B', '1059X'], dtype=object),
 'burgos': array(['2117D', '2331', '2298', '9111', '9051'], dtype=object),
 'caceres': array(['3469', '3469A', '3526X', '3434X', '3519X', '3463X', '3576X'],
       dtype=object),
 'cadiz': array(['5973', '5911A', '5960', '5910', '5972X', '5995B', '6001'],
       dtype=object),
 'cantabria': array(['1083L', '1159', '1109', '1110', '1111X', '1111', '9001D', '9019B'],
       dtype=object),
 'castellon': array(['8500A', '8501', '8489X', '8523X', '9563X'], dtype=object),
 'ceuta': array(['5000A', '5000C'], dtype=object),
 'ciudad real': array(['4121C', '4121', '4220X', '4103X', '4147X', '4148'], dtype=object),
 'cordoba': array(['4267X', '5402', '5427X', '5390Y'], dtype=object),
 'cuenca': array(['3044X', '3094B', '4090Y', '8096'], dtype=object),
 'gipuzkoa': array(['1014A', '1024E', '1050J', '1014', '1041A', '1037Y'], dtype=object),
 'girona': array(['0367', '0370B', '0372C', '0324A', '9585'], dtype=object),
 'granada': array(['5047E', '5530E', '5514', '5051X', '5582A', '6268X'], dtype=object),
 'guadalajara': array(['3168C', '3168A', '3168D', '3013', '3130C'], dtype=object),
 'huelva': array(['4560Y', '4549Y', '4642E', '4605', '5860E'], dtype=object),
 'huesca': array(['9208E', '9784P', '9898', '9201K', '9814A'], dtype=object),
 'illes balears': array(['B569X', 'B013X', 'B954', 'B893', 'B278', 'B228', 'B346X', 'B434X',
        'B691Y', 'B248'], dtype=object),
 'jaen': array(['5298X', '5181D', '5038X', '5270', '5270B', '5246', '5192'],
       dtype=object),
 'la rioja': array(['9170'], dtype=object),
 'las palmas': array(['C249I', 'C649I', 'C619I', 'C029O', 'C659M', 'C659H', 'C689E',
        'C629X', 'C229J', 'C839I'], dtype=object),
 'leon': array(['1549', '2737E', '2661B', '2661', '2630X'], dtype=object),
 'lleida': array(['9619', '9771', '9771C', '9990X', '9698U', '9720X'], dtype=object),
 'lugo': array(['1505'], dtype=object),
 'madrid': array(['2462', '3100B', '3110C', '3191E', '3200', '3129', '3194U', '3196',
        '3195', '3266A', '3338', '3111D', '3175'], dtype=object),
 'malaga': array(['6106X', '6058I', '6084X', '6155A', '6156X', '6172O', '6032B',
        '6205X'], dtype=object),
 'melilla': array(['6000A'], dtype=object),
 'murcia': array(['7002Y', '7228', '7119B', '7012C', '7145D', '7209', '7178I',
        '7031', '7031X', '7275C'], dtype=object),
 'navarra': array(['1002Y', '9263X', '9294E', '9283X', '9263D', '9262'], dtype=object),
 'ourense': array(['1631E', '1700X', '1690B', '1690A', '1735X'], dtype=object),
 'palencia': array(['2400E', '2374X', '2235U', '2401'], dtype=object),
 'pontevedra': array(['1484', '1484C', '1495'], dtype=object),
 'salamanca': array(['2491C', '2946X', '2867', '2870', '2916A'], dtype=object),
 'segovia': array(['2150H', '2465A', '2465'], dtype=object),
 'sevilla': array(['5704B', '5641X', '5612B', '5796', '5783'], dtype=object),
 'soria': array(['2030'], dtype=object),
 'sta. cruz de tenerife': array(['C439J', 'C929I', 'C430E', 'C139E', 'C459Z', 'C329Z', 'C449C',
        'C129Z', 'C447A', 'C429I'], dtype=object),
 'tarragona': array(['0016A', '0002I', '9981A', '9987P'], dtype=object),
 'teruel': array(['8368U', '9573X', '9381', '9381I', '9569A'], dtype=object),
 'toledo': array(['3298X', '3365A', '3259', '3260B', '4067', '4061X'], dtype=object),
 'valencia': array(['8058X', '8325X', '8309X', '8414A', '8416Y', '8416', '8293X'],
       dtype=object),
 'valladolid': array(['2503X', '2539', '2422'], dtype=object),
 'zamora': array(['2755X', '2775X', '2614'], dtype=object),
 'zaragoza': array(['9576C', '9394X', '9390', '9244X', '9434', '9434P'], dtype=object)}